body {
  background-color: var(--bs-gray-dark);
  color: var(--bs-yellow);
}
.form-text {
  color: var(--bs-yellow);
}

.logo-wrapper {
  height: auto;
  width: 85%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
